% Common project erlang options.
{erl_opts, [
    % mandatory
    debug_info,
    warnings_as_errors,
    warn_export_all,
    warn_missing_spec,
    warn_untyped_record,
    warn_export_vars,

    % by default
    warn_unused_record,
    warn_bif_clash,
    warn_obsolete_guard,
    warn_unused_vars,
    warn_shadow_vars,
    warn_unused_import,
    warn_unused_function,
    warn_deprecated_function

    % at will
    % bin_opt_info
    % no_auto_import
    % warn_missing_spec_all
]}.

% Common project dependencies.
{deps, [
    {cowboy, "2.9.0"},
    {genlib, {git, "https://github.com/valitydev/genlib.git", {tag, "v1.1.0"}}},
    {cowboy_access_log, {git, "https://github.com/valitydev/cowboy_access_log.git", {branch, "master"}}},
    {woody, {git, "https://github.com/valitydev/woody_erlang.git", {tag, "v1.1.0"}}},
    {woody_user_identity, {git, "https://github.com/valitydev/woody_erlang_user_identity.git", {tag, "v1.1.0"}}},
    {scoper, {git, "https://github.com/valitydev/scoper.git", {tag, "v1.1.0"}}},
    {machinery, {git, "https://github.com/valitydev/machinery-erlang.git", {tag, "v1.1.6"}}},
    {bouncer_client, {git, "https://github.com/valitydev/bouncer-client-erlang.git", {tag, "v1.1.0"}}},
    {token_keeper_client, {git, "https://github.com/valitydev/token-keeper-client.git", {tag, "v1.1.0"}}},
    {erl_health, {git, "https://github.com/valitydev/erlang-health.git", {branch, "master"}}},
    {cowboy_cors, {git, "https://github.com/valitydev/cowboy_cors.git", {branch, "master"}}},
    {prometheus, "4.11.0"},
    {prometheus_cowboy, "0.1.9"},

    %% Libraries generated with swagger-codegen-erlang from valitydev/swag-url-shortener
    {swag_server_ushort,
        {git, "https://github.com/valitydev/swag-url-shortener", {branch, "release/erlang/ushort-server/master"}}},
    {swag_client_ushort,
        {git, "https://github.com/valitydev/swag-url-shortener", {branch, "release/erlang/ushort-client/master"}}},

    %% NOTE
    %% Pinning to version "1.11.2" from hex here causes constant upgrading and recompilation of the entire project
    {jose, {git, "https://github.com/potatosalad/erlang-jose.git", {tag, "1.11.2"}}},

    %% OpenTelemetry deps
    {opentelemetry_api, "1.4.0"},
    {opentelemetry, "1.5.0"},
    {opentelemetry_exporter, "1.8.0"}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    deprecated_functions_calls,
    deprecated_functions
]}.

{dialyzer, [
    {warnings, [
        % mandatory
        unmatched_returns,
        error_handling,
        unknown
    ]},
    {plt_apps, all_deps}
]}.

{profiles, [
    {prod, [
        {deps, [
            {logger_logstash_formatter,
                {git, "https://github.com/valitydev/logger_logstash_formatter.git", {ref, "08a66a6"}}},
            % for introspection on production
            {recon, "2.3.2"}
        ]},
        {relx, [
            {release, {'url-shortener', "0.1"}, [
                % tools for introspection
                {recon, load},
                % debugger
                {runtime_tools, load},
                % profiler
                {tools, load},
                {opentelemetry, temporary},
                % log formatter
                {logger_logstash_formatter, load},
                sasl,
                shortener
            ]},
            {sys_config, "./config/sys.config"},
            {vm_args, "./config/vm.args"},
            {mode, minimal},
            {extended_start_script, true}
        ]}
    ]},
    {test, [
        {deps, [
            {meck, "0.9.2"}
        ]},
        {dialyzer, [{plt_extra_apps, [eunit, common_test, meck, runtime_tools, swag_client_ushort]}]}
    ]}
]}.

{project_plugins, [
    {covertool, "2.0.7"},
    {erlfmt, "1.5.0"},
    {rebar3_lint, "3.2.6"}
]}.

{erlfmt, [
    {print_width, 120},
    {files, [
        "apps/shortener*/{src,include,test}/*.{hrl,erl,app.src}",
        "rebar.config",
        "elvis.config",
        "config/sys.config"
    ]}
]}.
